In [0]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
import pickle
from joblib import dump, load

In [0]:
df = pd.read_csv('../content/Microsoft.csv')
df.drop(df.tail(2).index,inplace=True)

In [0]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
df

,ID,College Tier,Experience,Role,ResumeMatch,Qualified,Technical Interview,Behavioral Interview,Hired?,Performance Metric
0,1,3,5,Software Intern,7,1,5,6,No,0
1,2,2,0,SDE 1,8,1,7,7,Yes,1
2,3,3,7,Data Analyst,6,1,8,5,Yes,0
3,4,2,8,Cyber Security,9,1,6,4,No,0
4,5,3,2,Quality Assurance,5,0,5,6,No,0
5,6,3,3,Data Analyst,6,0,2,7,No,0
6,7,1,1,Software Intern,6,0,4,7,No,0
7,8,3,0,Software Intern,8,1,9,9,Yes,0
8,9,2,0,Cyber Security,6,1,2,4,No,0
9,10,3,1,Software Intern,7,1,7,6,Yes,1
10,11,2,2,Data Analyst,5,0,10,6,Yes,0
11,12,1,3,Cyber Security,6,1,6,7,No,0
12,13,3,5,Quality Assurance,8,1,10,7,Yes,1
13,14,2,1,Software Intern,7,1,8,10,Yes,0
14,15,3,0,Software Intern,3,0,7,7,Yes,0
15,16,1,2,Software Intern,5,0,9,10,Yes,0
16,17,1,2,Cyber Security,7,0,4,8,No,0
17,18,2,1,SDE 1,9,1,10,6,Yes,1
18,19,3,10,Quality Assurance,6,1,8,5,No,0
19,20,3,5,Quality Assurance,4,0,6,9,No,0
20,21,2,6,Data Analyst,5,1,7,9,Yes,1
21,22,3,4,Data Analyst,9,1,9,9,Yes,0
22,23,1,5,SDE 1,8,1,6,7,No,0
23,24,2,1,Cyber Security,9,1,8,10,Yes,1
24,25,3,0,Software Intern,4,0,7,10,Yes,0
25,26,1,1,Software Intern,4,0,9,4,No,0
26,27,3,2,Cyber Security,7,1,8,10,Yes,0
27,28,3,1,Quality Assurance,5,0,7,6,Yes,1
28,29,2,7,SDE 1,8,1,4,7,No,0
29,30,3,6,SDE 1,4,0,9,10,Yes,0
30,31,1,4,Data Analyst,6,0,4,9,No,0
31,32,2,5,Quality Assurance,8,1,6,5,No,0
32,33,3,3,Data Analyst,8,1,5,4,No,0
33,34,3,2,Data Analyst,8,1,5,7,No,0
34,35,2,0,Software Intern,9,1,4,10,No,0
35,36,1,6,Cyber Security,8,1,5,4,No,0
36,37,2,5,Quality Assurance,6,0,6,7,No,0
37,38,1,4,Cyber Security,6,0,5,8,No,0
38,39,1,2,SDE 1,10,1,5,6,No,0
39,40,3,3,Quality Assurance,4,0,10,8,Yes,1
40,41,2,2,Software Intern,7,1,5,6,No,0
41,42,1,4,Software Intern,2,0,2,2,No,0
42,43,1,5,Quality Assurance,2,0,2,2,No,0
43,44,1,3,Cyber Security,2,0,2,2,No,0

In [0]:
df2 = pd.get_dummies(df['Role'])
df2.head()
df_interview = df[['College Tier','Experience', 'ResumeMatch']]
df_interview
df_interview = pd.concat([df_interview, df2], axis = 1)

In [0]:
df_interview

,College Tier,Experience,ResumeMatch,Cyber Security,Data Analyst,Quality Assurance,SDE 1,Software Intern
0,3,5,7,0,0,0,0,1
1,2,0,8,0,0,0,1,0
2,3,7,6,0,1,0,0,0
3,2,8,9,1,0,0,0,0
4,3,2,5,0,0,1,0,0
5,3,3,6,0,1,0,0,0
6,1,1,6,0,0,0,0,1
7,3,0,8,0,0,0,0,1
8,2,0,6,1,0,0,0,0
9,3,1,7,0,0,0,0,1
10,2,2,5,0,1,0,0,0
11,1,3,6,1,0,0,0,0
12,3,5,8,0,0,1,0,0
13,2,1,7,0,0,0,0,1
14,3,0,3,0,0,0,0,1
15,1,2,5,0,0,0,0,1
16,1,2,7,1,0,0,0,0
17,2,1,9,0,0,0,1,0
18,3,10,6,0,0,1,0,0
19,3,5,4,0,0,1,0,0
20,2,6,5,0,1,0,0,0
21,3,4,9,0,1,0,0,0
22,1,5,8,0,0,0,1,0
23,2,1,9,1,0,0,0,0
24,3,0,4,0,0,0,0,1
25,1,1,4,0,0,0,0,1
26,3,2,7,1,0,0,0,0
27,3,1,5,0,0,1,0,0
28,2,7,8,0,0,0,1,0
29,3,6,4,0,0,0,1,0
30,1,4,6,0,1,0,0,0
31,2,5,8,0,0,1,0,0
32,3,3,8,0,1,0,0,0
33,3,2,8,0,1,0,0,0
34,2,0,9,0,0,0,0,1
35,1,6,8,1,0,0,0,0
36,2,5,6,0,0,1,0,0
37,1,4,6,1,0,0,0,0
38,1,2,10,0,0,0,1,0
39,3,3,4,0,0,1,0,0
40,2,2,7,0,0,0,0,1
41,1,4,2,0,0,0,0,1
42,1,5,2,0,0,1,0,0
43,1,3,2,1,0,0,0,0

In [0]:
y = df['Qualified']
x = df_interview

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.25, random_state=27)
x

,College Tier,Experience,ResumeMatch,Cyber Security,Data Analyst,Quality Assurance,SDE 1,Software Intern
0,3,5,7,0,0,0,0,1
1,2,0,8,0,0,0,1,0
2,3,7,6,0,1,0,0,0
3,2,8,9,1,0,0,0,0
4,3,2,5,0,0,1,0,0
5,3,3,6,0,1,0,0,0
6,1,1,6,0,0,0,0,1
7,3,0,8,0,0,0,0,1
8,2,0,6,1,0,0,0,0
9,3,1,7,0,0,0,0,1
10,2,2,5,0,1,0,0,0
11,1,3,6,1,0,0,0,0
12,3,5,8,0,0,1,0,0
13,2,1,7,0,0,0,0,1
14,3,0,3,0,0,0,0,1
15,1,2,5,0,0,0,0,1
16,1,2,7,1,0,0,0,0
17,2,1,9,0,0,0,1,0
18,3,10,6,0,0,1,0,0
19,3,5,4,0,0,1,0,0
20,2,6,5,0,1,0,0,0
21,3,4,9,0,1,0,0,0
22,1,5,8,0,0,0,1,0
23,2,1,9,1,0,0,0,0
24,3,0,4,0,0,0,0,1
25,1,1,4,0,0,0,0,1
26,3,2,7,1,0,0,0,0
27,3,1,5,0,0,1,0,0
28,2,7,8,0,0,0,1,0
29,3,6,4,0,0,0,1,0
30,1,4,6,0,1,0,0,0
31,2,5,8,0,0,1,0,0
32,3,3,8,0,1,0,0,0
33,3,2,8,0,1,0,0,0
34,2,0,9,0,0,0,0,1
35,1,6,8,1,0,0,0,0
36,2,5,6,0,0,1,0,0
37,1,4,6,1,0,0,0,0
38,1,2,10,0,0,0,1,0
39,3,3,4,0,0,1,0,0
40,2,2,7,0,0,0,0,1
41,1,4,2,0,0,0,0,1
42,1,5,2,0,0,1,0,0
43,1,3,2,1,0,0,0,0

In [0]:
Microsoft_interview = MLPClassifier(hidden_layer_sizes=(10,10,10), max_iter=500, alpha=0.0001,
                     solver='sgd', verbose=10,  random_state=21,tol=0.000000001)

In [0]:
dump(clf, 'Microsoft_interview.joblib')

['Microsoft_interview.joblib']

In [0]:
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

Iteration 1, loss = 0.65319705
Iteration 2, loss = 0.65286405
Iteration 3, loss = 0.65238446
Iteration 4, loss = 0.65177601
Iteration 5, loss = 0.65103937
Iteration 6, loss = 0.65017093
Iteration 7, loss = 0.64919949
Iteration 8, loss = 0.64815870
Iteration 9, loss = 0.64709310
Iteration 10, loss = 0.64597042
Iteration 11, loss = 0.64478346
Iteration 12, loss = 0.64354800
Iteration 13, loss = 0.64227882
Iteration 14, loss = 0.64096075
Iteration 15, loss = 0.63965604
Iteration 16, loss = 0.63832633
Iteration 17, loss = 0.63695408
Iteration 18, loss = 0.63556598
Iteration 19, loss = 0.63416901
Iteration 20, loss = 0.63277377
Iteration 21, loss = 0.63137887
Iteration 22, loss = 0.62998018
Iteration 23, loss = 0.62857571
Iteration 24, loss = 0.62718068
Iteration 25, loss = 0.62582698
Iteration 26, loss = 0.62448430
Iteration 27, loss = 0.62313714
Iteration 28, loss = 0.62179723
Iteration 29, loss = 0.62046759
Iteration 30, loss = 0.61915050
Iteration 31, loss = 0.61786647
Iteration 32, loss = 0.61661461
Iteration 33, loss = 0.61541455
Iteration 34, loss = 0.61424576
Iteration 35, loss = 0.61309564
Iteration 36, loss = 0.61196425
Iteration 37, loss = 0.61087116
Iteration 38, loss = 0.60982285
Iteration 39, loss = 0.60881356
Iteration 40, loss = 0.60782848
Iteration 41, loss = 0.60688346
Iteration 42, loss = 0.60596616
Iteration 43, loss = 0.60508242
Iteration 44, loss = 0.60422862
Iteration 45, loss = 0.60339290
Iteration 46, loss = 0.60257163
Iteration 47, loss = 0.60177434
Iteration 48, loss = 0.60099197
Iteration 49, loss = 0.60022482
Iteration 50, loss = 0.59947218
Iteration 51, loss = 0.59873338
Iteration 52, loss = 0.59800774
Iteration 53, loss = 0.59729463
Iteration 54, loss = 0.59659345
Iteration 55, loss = 0.59590359
Iteration 56, loss = 0.59522784
Iteration 57, loss = 0.59456608
Iteration 58, loss = 0.59391907
Iteration 59, loss = 0.59328543
Iteration 60, loss = 0.59266318
Iteration 61, loss = 0.59205703
Iteration 62, loss = 0.59146731
Iteration 63, loss = 0.59088565
Iteration 64, loss = 0.59031147
Iteration 65, loss = 0.58974422
Iteration 66, loss = 0.58918460
Iteration 67, loss = 0.58863294
Iteration 68, loss = 0.58808568
Iteration 69, loss = 0.58754454
Iteration 70, loss = 0.58700837
Iteration 71, loss = 0.58647660
Iteration 72, loss = 0.58594891
Iteration 73, loss = 0.58542498
Iteration 74, loss = 0.58490451
Iteration 75, loss = 0.58438703
Iteration 76, loss = 0.58387256
Iteration 77, loss = 0.58336089
Iteration 78, loss = 0.58284283
Iteration 79, loss = 0.58232173
Iteration 80, loss = 0.58180112
Iteration 81, loss = 0.58128115
Iteration 82, loss = 0.58076418
Iteration 83, loss = 0.58024805
Iteration 84, loss = 0.57973277
Iteration 85, loss = 0.57921836
Iteration 86, loss = 0.57870481
Iteration 87, loss = 0.57819212
Iteration 88, loss = 0.57768215
Iteration 89, loss = 0.57717812
Iteration 90, loss = 0.57667501
Iteration 91, loss = 0.57617280
Iteration 92, loss = 0.57566771
Iteration 93, loss = 0.57516214
Iteration 94, loss = 0.57465695
Iteration 95, loss = 0.57415339
Iteration 96, loss = 0.57365777
Iteration 97, loss = 0.57316461
Iteration 98, loss = 0.57267418
Iteration 99, loss = 0.57218487
Iteration 100, loss = 0.57169664
Iteration 101, loss = 0.57120947
Iteration 102, loss = 0.57072579
Iteration 103, loss = 0.57025132
Iteration 104, loss = 0.56977780
Iteration 105, loss = 0.56930527
Iteration 106, loss = 0.56883373
Iteration 107, loss = 0.56837493
Iteration 108, loss = 0.56791609
Iteration 109, loss = 0.56745766
Iteration 110, loss = 0.56699977
Iteration 111, loss = 0.56654492
Iteration 112, loss = 0.56609121
Iteration 113, loss = 0.56564524
Iteration 114, loss = 0.56520508
Iteration 115, loss = 0.56476423
Iteration 116, loss = 0.56431568
Iteration 117, loss = 0.56386803
Iteration 118, loss = 0.56342128
Iteration 119, loss = 0.56297284
Iteration 120, loss = 0.56252077
Iteration 121, loss = 0.56206885
Iteration 122, loss = 0.56160477
Iteration 123, loss = 0.56113622
Iteration 124, loss = 0.56066637
Iteration 125, loss = 0.56019543
Iteration 126, loss = 0.55972428
Iteration 127, loss = 0.55925514
Iteration 128, loss = 0.55878491
Iteration 129, loss = 0.55831759
Iteration 130, loss = 0.55785774
Iteration 131, loss = 0.55739801
Iteration 132, loss = 0.55693842
Iteration 133, loss = 0.55647997
Iteration 134, loss = 0.55602280
Iteration 135, loss = 0.55556597
Iteration 136, loss = 0.55511736
Iteration 137, loss = 0.55468686
Iteration 138, loss = 0.55425632
Iteration 139, loss = 0.55383337
Iteration 140, loss = 0.55341075
Iteration 141, loss = 0.55298887
Iteration 142, loss = 0.55256701
Iteration 143, loss = 0.55214643
Iteration 144, loss = 0.55172553
Iteration 145, loss = 0.55130513
Iteration 146, loss = 0.55088243
Iteration 147, loss = 0.55045334
Iteration 148, loss = 0.55002364
Iteration 149, loss = 0.54959334
Iteration 150, loss = 0.54916241
Iteration 151, loss = 0.54873058
Iteration 152, loss = 0.54830182
Iteration 153, loss = 0.54787243
Iteration 154, loss = 0.54744295
Iteration 155, loss = 0.54701508
Iteration 156, loss = 0.54658751
Iteration 157, loss = 0.54615955
Iteration 158, loss = 0.54573158
Iteration 159, loss = 0.54530420
Iteration 160, loss = 0.54487633
Iteration 161, loss = 0.54444855
Iteration 162, loss = 0.54402110
Iteration 163, loss = 0.54359328
Iteration 164, loss = 0.54316553
Iteration 165, loss = 0.54273807
Iteration 166, loss = 0.54231016
Iteration 167, loss = 0.54187588
Iteration 168, loss = 0.54144200
Iteration 169, loss = 0.54100617
Iteration 170, loss = 0.54057109
Iteration 171, loss = 0.54013502
Iteration 172, loss = 0.53969902
Iteration 173, loss = 0.53926260
Iteration 174, loss = 0.53882259
Iteration 175, loss = 0.53838249
Iteration 176, loss = 0.53793831
Iteration 177, loss = 0.53749308
Iteration 178, loss = 0.53704695
Iteration 179, loss = 0.53659952
Iteration 180, loss = 0.53615184
Iteration 181, loss = 0.53570251
Iteration 182, loss = 0.53525672
Iteration 183, loss = 0.53482000
Iteration 184, loss = 0.53439815
Iteration 185, loss = 0.53398680
Iteration 186, loss = 0.53357520
Iteration 187, loss = 0.53316332
Iteration 188, loss = 0.53275117
Iteration 189, loss = 0.53233872
Iteration 190, loss = 0.53192599
Iteration 191, loss = 0.53151297
Iteration 192, loss = 0.53109966
Iteration 193, loss = 0.53068606
Iteration 194, loss = 0.53027217
Iteration 195, loss = 0.52985800
Iteration 196, loss = 0.52944354
Iteration 197, loss = 0.52902879
Iteration 198, loss = 0.52861055
Iteration 199, loss = 0.52820947
Iteration 200, loss = 0.52781485
Iteration 201, loss = 0.52742055
Iteration 202, loss = 0.52703724
Iteration 203, loss = 0.52665552
Iteration 204, loss = 0.52627316
Iteration 205, loss = 0.52588909
Iteration 206, loss = 0.52550486
Iteration 207, loss = 0.52512049
Iteration 208, loss = 0.52473601
Iteration 209, loss = 0.52435143
Iteration 210, loss = 0.52396676
Iteration 211, loss = 0.52358202
Iteration 212, loss = 0.52319722
Iteration 213, loss = 0.52281237
Iteration 214, loss = 0.52242748
Iteration 215, loss = 0.52204256
Iteration 216, loss = 0.52165762
Iteration 217, loss = 0.52127294
Iteration 218, loss = 0.52088853
Iteration 219, loss = 0.52050409
Iteration 220, loss = 0.52011965
Iteration 221, loss = 0.51973520
Iteration 222, loss = 0.51935074
Iteration 223, loss = 0.51896628
Iteration 224, loss = 0.51858182
Iteration 225, loss = 0.51819737
Iteration 226, loss = 0.51781787
Iteration 227, loss = 0.51744104
Iteration 228, loss = 0.51707189
Iteration 229, loss = 0.51670208
Iteration 230, loss = 0.51633025
Iteration 231, loss = 0.51595772
Iteration 232, loss = 0.51558462
Iteration 233, loss = 0.51521108
Iteration 234, loss = 0.51483720
Iteration 235, loss = 0.51446311
Iteration 236, loss = 0.51408887
Iteration 237, loss = 0.51371489
Iteration 238, loss = 0.51334104
Iteration 239, loss = 0.51296729
Iteration 240, loss = 0.51259411
Iteration 241, loss = 0.51222521
Iteration 242, loss = 0.51185843
Iteration 243, loss = 0.51150068
Iteration 244, loss = 0.51114860
Iteration 245, loss = 0.51079646
Iteration 246, loss = 0.51044541
Iteration 247, loss = 0.51009493
Iteration 248, loss = 0.50974611
Iteration 249, loss = 0.50939783
Iteration 250, loss = 0.50904999
Iteration 251, loss = 0.50870207
Iteration 252, loss = 0.50835450
Iteration 253, loss = 0.50800875
Iteration 254, loss = 0.50766422
Iteration 255, loss = 0.50732116
Iteration 256, loss = 0.50697907
Iteration 257, loss = 0.50663765
Iteration 258, loss = 0.50629676
Iteration 259, loss = 0.50595644
Iteration 260, loss = 0.50561667
Iteration 261, loss = 0.50527745
Iteration 262, loss = 0.50493874
Iteration 263, loss = 0.50460055
Iteration 264, loss = 0.50426284
Iteration 265, loss = 0.50392649
Iteration 266, loss = 0.50358905
Iteration 267, loss = 0.50325274
Iteration 268, loss = 0.50291681
Iteration 269, loss = 0.50258123
Iteration 270, loss = 0.50224601
Iteration 271, loss = 0.50191112
Iteration 272, loss = 0.50157656
Iteration 273, loss = 0.50124231
Iteration 274, loss = 0.50090838
Iteration 275, loss = 0.50057474
Iteration 276, loss = 0.50024139
Iteration 277, loss = 0.49990832
Iteration 278, loss = 0.49957972
Iteration 279, loss = 0.49925077
Iteration 280, loss = 0.49892111
Iteration 281, loss = 0.49859086
Iteration 282, loss = 0.49826013
Iteration 283, loss = 0.49793219
Iteration 284, loss = 0.49760418
Iteration 285, loss = 0.49727655
Iteration 286, loss = 0.49695117
Iteration 287, loss = 0.49662472
Iteration 288, loss = 0.49629700
Iteration 289, loss = 0.49597117
Iteration 290, loss = 0.49564439
Iteration 291, loss = 0.49531726
Iteration 292, loss = 0.49499068
Iteration 293, loss = 0.49466505
Iteration 294, loss = 0.49433851
Iteration 295, loss = 0.49401335
Iteration 296, loss = 0.49368725
Iteration 297, loss = 0.49336158
Iteration 298, loss = 0.49303778
Iteration 299, loss = 0.49271172
Iteration 300, loss = 0.49238762
Iteration 301, loss = 0.49206341
Iteration 302, loss = 0.49173980
Iteration 303, loss = 0.49141558
Iteration 304, loss = 0.49109204
Iteration 305, loss = 0.49076889
Iteration 306, loss = 0.49044553
Iteration 307, loss = 0.49012256
Iteration 308, loss = 0.48980213
Iteration 309, loss = 0.48948160
Iteration 310, loss = 0.48916280
Iteration 311, loss = 0.48884259
Iteration 312, loss = 0.48852275
Iteration 313, loss = 0.48820453
Iteration 314, loss = 0.48789114
Iteration 315, loss = 0.48758085
Iteration 316, loss = 0.48726980
Iteration 317, loss = 0.48695860
Iteration 318, loss = 0.48664839
Iteration 319, loss = 0.48633860
Iteration 320, loss = 0.48602943
Iteration 321, loss = 0.48572005
Iteration 322, loss = 0.48541219
Iteration 323, loss = 0.48510406
Iteration 324, loss = 0.48479818
Iteration 325, loss = 0.48448942
Iteration 326, loss = 0.48418163
Iteration 327, loss = 0.48387460
Iteration 328, loss = 0.48356784
Iteration 329, loss = 0.48326287
Iteration 330, loss = 0.48295566
Iteration 331, loss = 0.48264913
Iteration 332, loss = 0.48234384
Iteration 333, loss = 0.48203805
Iteration 334, loss = 0.48173218
Iteration 335, loss = 0.48142715
Iteration 336, loss = 0.48112177
Iteration 337, loss = 0.48081681
Iteration 338, loss = 0.48051169
Iteration 339, loss = 0.48020679
Iteration 340, loss = 0.47990242
Iteration 341, loss = 0.47959762
Iteration 342, loss = 0.47929349
Iteration 343, loss = 0.47899003
Iteration 344, loss = 0.47868611
Iteration 345, loss = 0.47838192
Iteration 346, loss = 0.47807745
Iteration 347, loss = 0.47777403
Iteration 348, loss = 0.47747024
Iteration 349, loss = 0.47716616
Iteration 350, loss = 0.47686334
Iteration 351, loss = 0.47655987
Iteration 352, loss = 0.47625625
Iteration 353, loss = 0.47595311
Iteration 354, loss = 0.47564967
Iteration 355, loss = 0.47534703
Iteration 356, loss = 0.47504356
Iteration 357, loss = 0.47474106
Iteration 358, loss = 0.47443788
Iteration 359, loss = 0.47413521
Iteration 360, loss = 0.47383298
Iteration 361, loss = 0.47353053
Iteration 362, loss = 0.47322785
Iteration 363, loss = 0.47292592
Iteration 364, loss = 0.47262412
Iteration 365, loss = 0.47232282
Iteration 366, loss = 0.47202092
Iteration 367, loss = 0.47171973
Iteration 368, loss = 0.47141790
Iteration 369, loss = 0.47111645
Iteration 370, loss = 0.47081404
Iteration 371, loss = 0.47051206
Iteration 372, loss = 0.47021078
Iteration 373, loss = 0.46990963
Iteration 374, loss = 0.46960848
Iteration 375, loss = 0.46930721
Iteration 376, loss = 0.46900720
Iteration 377, loss = 0.46870586
Iteration 378, loss = 0.46840462
Iteration 379, loss = 0.46810353
Iteration 380, loss = 0.46780255
Iteration 381, loss = 0.46750215
Iteration 382, loss = 0.46720110
Iteration 383, loss = 0.46690039
Iteration 384, loss = 0.46659956
Iteration 385, loss = 0.46629905
Iteration 386, loss = 0.46599830
Iteration 387, loss = 0.46569771
Iteration 388, loss = 0.46539814
Iteration 389, loss = 0.46509745
Iteration 390, loss = 0.46479673
Iteration 391, loss = 0.46449611
Iteration 392, loss = 0.46419569
Iteration 393, loss = 0.46389584
Iteration 394, loss = 0.46359535
Iteration 395, loss = 0.46329507
Iteration 396, loss = 0.46299490
Iteration 397, loss = 0.46269470
Iteration 398, loss = 0.46239473
Iteration 399, loss = 0.46209431
Iteration 400, loss = 0.46179498
Iteration 401, loss = 0.46149491
Iteration 402, loss = 0.46119475
Iteration 403, loss = 0.46089496
Iteration 404, loss = 0.46059489
Iteration 405, loss = 0.46029528
Iteration 406, loss = 0.45999526
Iteration 407, loss = 0.45969561
Iteration 408, loss = 0.45939587
Iteration 409, loss = 0.45909585
Iteration 410, loss = 0.45879709
Iteration 411, loss = 0.45849712
Iteration 412, loss = 0.45819709
Iteration 413, loss = 0.45789816
Iteration 414, loss = 0.45759841
Iteration 415, loss = 0.45729837
Iteration 416, loss = 0.45699925
Iteration 417, loss = 0.45669901
Iteration 418, loss = 0.45639840
Iteration 419, loss = 0.45609916
Iteration 420, loss = 0.45579891
Iteration 421, loss = 0.45549833
Iteration 422, loss = 0.45519864
Iteration 423, loss = 0.45489820
Iteration 424, loss = 0.45459887
Iteration 425, loss = 0.45429869
Iteration 426, loss = 0.45399829
Iteration 427, loss = 0.45369772
Iteration 428, loss = 0.45339783
Iteration 429, loss = 0.45309775
Iteration 430, loss = 0.45281043
Iteration 431, loss = 0.45252421
Iteration 432, loss = 0.45223432
Iteration 433, loss = 0.45194259
Iteration 434, loss = 0.45164867
Iteration 435, loss = 0.45135265
Iteration 436, loss = 0.45105601
Iteration 437, loss = 0.45075725
Iteration 438, loss = 0.45046702
Iteration 439, loss = 0.45017542
Iteration 440, loss = 0.44988400
Iteration 441, loss = 0.44959452
Iteration 442, loss = 0.44930392
Iteration 443, loss = 0.44901716
Iteration 444, loss = 0.44873335
Iteration 445, loss = 0.44845132
Iteration 446, loss = 0.44817351
Iteration 447, loss = 0.44789236
Iteration 448, loss = 0.44761214
Iteration 449, loss = 0.44733295
Iteration 450, loss = 0.44705453
Iteration 451, loss = 0.44677513
Iteration 452, loss = 0.44649755
Iteration 453, loss = 0.44621978
Iteration 454, loss = 0.44593984
Iteration 455, loss = 0.44566475
Iteration 456, loss = 0.44538598
Iteration 457, loss = 0.44511204
Iteration 458, loss = 0.44483329
Iteration 459, loss = 0.44455738
Iteration 460, loss = 0.44428239
Iteration 461, loss = 0.44400410
Iteration 462, loss = 0.44373097
Iteration 463, loss = 0.44345338
Iteration 464, loss = 0.44317896
Iteration 465, loss = 0.44290284
Iteration 466, loss = 0.44262821
Iteration 467, loss = 0.44235365
Iteration 468, loss = 0.44207776
Iteration 469, loss = 0.44180456
Iteration 470, loss = 0.44153026
Iteration 471, loss = 0.44125627
Iteration 472, loss = 0.44097977
Iteration 473, loss = 0.44070897
Iteration 474, loss = 0.44043194
Iteration 475, loss = 0.44015854
Iteration 476, loss = 0.43988423
Iteration 477, loss = 0.43961028
Iteration 478, loss = 0.43933842
Iteration 479, loss = 0.43906234
Iteration 480, loss = 0.43879489
Iteration 481, loss = 0.43852104
Iteration 482, loss = 0.43824780
Iteration 483, loss = 0.43797599
Iteration 484, loss = 0.43770425
Iteration 485, loss = 0.43743246
Iteration 486, loss = 0.43716040
Iteration 487, loss = 0.43688662
Iteration 488, loss = 0.43661812
Iteration 489, loss = 0.43634345
Iteration 490, loss = 0.43607175
Iteration 491, loss = 0.43580060
Iteration 492, loss = 0.43552743
Iteration 493, loss = 0.43525883
Iteration 494, loss = 0.43498302
Iteration 495, loss = 0.43471434
Iteration 496, loss = 0.43444180
Iteration 497, loss = 0.43417022
Iteration 498, loss = 0.43389695
Iteration 499, loss = 0.43362598
Iteration 500, loss = 0.43335618

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [0]:
accuracy_score(y_test, y_pred)

0.8181818181818182

In [0]:
y_test

29    0
6     0
18    1
9     1
17    1
16    0
35    1
14    0
11    1
38    1
34    1
Name: Qualified, dtype: int64

In [0]:
y_pred

array([0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1])

In [0]:
d = [{'College Tier': 2, 'Experience': 5, 'ResumeMatch': 6, 'Cyber Security': 0, 'Data Analyst': 1, 'Quality Assurance':0,	'SDE 1':0,	'Software Intern':0}]
x_pred = pd.DataFrame(data=d)
y_pred = clf.predict(x_pred)
arr = clf.predict_proba(x_pred)
probability_of_interview = arr[0][1]

0.3704281499653955